* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    flex-direction: column;
    gap: 20px;
}

/* ALERT BOX */
.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    /* Animation ke liye */
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;

    transition: all 0.4s ease;
}

/* ACTIVE STATE */
.alert.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* CLOSE BUTTON */
.close-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* SHOW BUTTON */
#showBtn {
    padding: 10px 20px;
    border: none;
    background: #0072ff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}