body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

li {
    background: white;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}